# Configuración de VSCode
.vscode/

# Backend
# Directorio de salida de Maven (compilación)
backend/target/
# Wrapper de Maven descargado
backend/.mvn/wrapper/
# Wrapper para Unix/Linux
backend/mvnw
# Wrapper para Windows
backend/mvnw.cmd
backend/*.log
backend/.env

# Frontend
frontend/node_modules/   # Dependencias de npm
frontend/dist/           # Build del frontend
frontend/.env
frontend/uploads

# Sistema
.env            # Variables de entorno sensibles
.env.local      # Variables de entorno específicas de la máquina
node_modules

# Scripts
start-dev.sh
test-endpoints.sh

# Prompt Text
prompt.txt

# Coverage binary
codecov